
<title>
  Anchor to any element with jQuery Magic - Arbitrary Anchor
</title>

<!-- Mobile Friendly -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

<!-- Styles. -->
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link href="http://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel='stylesheet' type='text/css'>

<!-- JS. -->

<script type="text/javascript">
  window.AA_CONFIG = {
    animationLength:  1500,
    easingFunction:   'easeOutCirc',
    readyEvent:       'aa-ready',
    scrollOffset:     30
  };
</script>

<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script type="text/javascript" src='js/jquery.arbitrary-anchor.js'></script>
<script type="text/javascript" src='js/app.js'></script>
